.user-card {
    margin-top: 100px;
}

.user-input__label {
    font-size: 14px;
}

.user-link {
    text-decoration: none;
}

.user-link__right {
    text-align: right;
}

.user-account-line {
    display: inline-block;
    width: 30%;
    border: .5px solid #d6d6d6;
    height: 1px;
}

.user-account-line__label {
    font-size: 12px;
}